<div class="container border p-3 mt-3 mb-3" >
  <h2 class="text-center">Add New Products</h2>
  <form [formGroup]="addproductForm" action="" class="row g-3" (ngSubmit)="addProduct()">
    <div class="col-md-6">
      <label class="form-label">Product Id</label>
      <input type="text" name="id" class="form-control" id="validationserver01" required formControlName="id" >
    </div>
  <!-- </form>
  <form action="" class="row g-3"> -->
    <div class="col-md-6">
      <label class="form-label">Product Name</label>
      <input type="text" name="productName" class="form-control" id="validationserver02" required formControlName="productName">
    </div>
  <!-- </form> -->
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Product Description</label>
      <input type="text" name="description" class="form-control" id="validationserver03" required formControlName="description">
    </div>
  <!-- </form>
  <form action="" class="row g-3"> -->
    <div class="col-md-6">
      <label class="form-label">Product Rating</label>
      <input type="text" name="rating" class="form-control" id="validationserver04" required formControlName="rating">
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Product Price</label>
      <input type="text" name="price" class="form-control" id="validationserver05" required formControlName="price">
    </div>
  <!-- </form>
  <form action="" class="row g-3"> -->
    <div class="col-md-6">
      <label class="form-label">Product Warranty</label>
      <input type="text" name="warranty" class="form-control" id="validationserver06" required formControlName="warranty">
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Product Review</label>
      <input type="text" name="review" class="form-control" id="validationserver07" required formControlName="review">
    </div>
  <!-- </form>
  <form action="" class="row g-3"> -->
    <div class="col-md-6">
      <label class="form-label">Product Vendor Name</label>
      <input type="text" name="vendor_name" class="form-control" id="validationserver08" required formControlName="vendor_name">
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Product Category Id</label>
      <input type="text" name="categoryId" class="form-control" id="validationserver09" required formControlName="categoryId">
    </div>
  <!-- </form>

  <form action="" class="row g-3"> -->
    <div class="col-md-6">
      <label class="form-label">Product Availability</label>
      <input type="text" name="is_available" class="form-control" id="validationserver10" placeholder="yes/no" required formControlName="is_available">
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Product Image</label>
      <input type="text" name="productImg" class="form-control" id="validationserver11" required placeholder="type file name" formControlName="productImg">
    </div>
    <button type="submit" class="btn btn-primary">Submit Form</button>
  </div>
  </form>
</div>
